                                    /*--------------------*\
                                      BOTAO
                                    \*--------------------*/

.botao {
    display: inline-block;
    padding: 0.8em 1.2em;
    background-color: #bbb;
    color: #fff;
    line-height: normal;
    font-size: 1em;
    text-decoration: none;
}
  
.botao:hover, .botao:focus {
    background-color: #aaa;
    color: #fff;
    text-decoration: none;
}
  .botao--assinar, .botao--login {
    background-color: #127d00;
}
  
.botao--assinar:hover, .botao--assinar:focus,
  .botao--login:hover, .botao--login:focus {
    background-color: #0e6400;
}
  
.botao--principal {
    border-radius: 10px;
    width: 200px;
    background-color: #93BF48;
}
  
.botao--principal:hover, .botao--principal:focus {
    background-color:#A1D14F;
    transition: 0.5s;
}
  
  
                                /*--------------------*\
                                  CHAMADA
                                \*--------------------*/
.chamada {
    font-size: 1.6rem; /* 1.6 * 10px = 16px */
    text-align: center;
}
  
.chamada__titulo {
    margin: 0;
  
    color: #fff;
  
    font-size: 3.375em; /* 54px / 16px = 3.375 */
    line-height: 0.9;
    text-shadow: 1px 1px #313131;
}
.chamada__subtitulo {
    margin: 60px 0;
  
    color: #fff;
  
    font-size: 1em;
}
  
.chamada__acao {
    font-size: 1em;
}
                                  /*--------------------*\
                                    CHAMADA EM TELA MENOR
                                  \*--------------------*/  
@media(min-width: 992px) {
    .chamada {
      padding-left: 10%;
      padding-right: 10%;
  
      font-size: 2.2rem; /* 2.2 * 10px = 22px */
    }
  }
  
  
                                /*--------------------*\
                                  NAVEGACAO
                                \*--------------------*/
  
 
  
                                /*--------------------*\
                                  BOTAO-CHAVEADOR
                                \*--------------------*/
  .botao-chaveador {
    width: 24px;
    height: 24px;
    border: 0;
  
    background: none;
    background-image: url("../imagens/bars.png");
  
    outline: none;
  }
  
  @media(min-width: 992px) {
    .botao-chaveador {
      display: none;
    }
  
    

  }
  
                                /*--------------------*\
                                  MENU
                                \*--------------------*/
  .menu {
    margin: 0;
  
    font-size: 1.4rem;
  
    list-style: none;
  }

  .menu__item a{

    text-decoration: none;

  }
  
  @media(max-width: 991px) {
  
    .menu {
      position: fixed;
      top: 59px;
      right: 0;
      bottom: 0;
  
      display: none;
      width: 200px;
      padding: 20px;
      border-right: 1px solid #eee;
  
      background-color: #fbfbfb;
    }

    .menu.esta-exibindo{

        display: block;

    }
  
    .menu__item {
      display: block;
  
      line-height: 3;
    }
  
    .menu__item--botao {
      margin-top: 20px;
    }
  
  }
  
  @media(min-width: 992px) {
  
    .menu__item {
      display: inline-block;
      padding-right: 20px;
    }
    .menu__item:last-of-type {
      padding-right: 0px;
    }
  
  }

  
                              /*--------------------*\
                                TITULO-FORMULÃRIO
                              \*--------------------*/


  .titulo-formulario{
    margin: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #CCC;
    font-size: 2.6rem;
    font-weight: normal;
    color: #004b86;
  }

                              /*--------------------*\
                                GRUPO-ENTRADA
                              \*--------------------*/

  .grupo-entrada > label{
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bold;
  }

                              /*--------------------*\
                                GRUPO-ENTRADA
                              \*--------------------*/

  .campo{
    display: block;
    width: 100%;
  }

                              /*--------------------*\
                                CAMPO
                              \*--------------------*/
  .campo {
    display: block;
    width: 100%;
    height: 2.8em;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.4rem;
  }


  @media (min-width: 1200px) {
  .container {
      width: 80%;
  }
}

.layout-cabecalho-orc {
  text-align: center;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
  height: 50px;
  margin-bottom: 40px;
}

.texto-barra-orc {
  align-items: center;
  text-align: center;
  border-bottom: 3px solid #93BF48;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #1c3741;
font-size: 18px;
text-transform: uppercase;
letter-spacing: 1px; 
font-family: 'Rajdhani', sans-serif;
font-weight: 700;
}


